{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Ocassional and festival offers{% endblock %}
{% block content %}




<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <br>
        <h1 class="display-4">Ocassional and festival offers</h1>
        <p class="lead text-muted mb-0"><br>Shoppy Hub is a leading online retailer in India & world fastest growing ecommerce Technology Company.</p>

      </div>

    </div>
  </div>
</div>




{% endblock %}

