{% extends 'shop/base.html' %}
{% load static %}
{% block title%}
    Paytm merchant payment page
{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Redirecting you to the merchant....</h1>
<h1>Please do not refresh your page....</h1>
<form action="https://securegw-stage.paytm.in/order/process" method="post" name="paytm">

     {{ form.as_p }}
    {% for key, value in param_dict.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}
</form>
<script>
        document.paytm.submit()
</script>
{% endblock %}

